@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c4bebe;
  background-image: url("https://cdn.wallpapersafari.com/60/92/yK1CmU.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 30px auto 0;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin: 0;
  animation: slide-i 0.5s ease-in-out;
  color: #2b3633;
}

@keyframes slide-i {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

label {
  display: block;
  font-size: 24px;
  margin: 30px 0 10px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-top: 40px;
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 0.5s ease-in-out forwards;
  color: #808d8a;
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

h2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #e2e757;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

h2:hover::before {
  transform: scaleX(1);
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: #444;
  background-color: #f2f2f2;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 80%;
  text-align: center;
}

input:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  background-color: #6c5ce7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#fundButton {
  background-color: #ff7675;
}

#connectButton {
  background-color: #fdcb6e;
}

#balanceButton {
  background-color: #74b9ff;
}

#withdrawButton {
  background-color: #00b894;
}
